@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap');
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Montserrat', sans-serif;
}

button{
	background: transparent;
	border: 0;
	outline: none;
	cursor: pointer;
}

.container {
	width: 1366px;
	margin: 0 auto;
	min-height: 100%;
}

.slider {
	display: flex;
	height: 800px;
	background-image: url("style_images/slider-img.jpg");
}

.header {
	margin-left: 98px;
	margin-right: 167px;
	margin-top: 63px;
	width: 1101px;
	height: 30px;
	display: flex;
	justify-content: space-between;
	position: absolute;
}

a{
	text-decoration: none;
}

.menu{
	display: flex;
	flex-direction: row;
	letter-spacing: 1px;
	justify-content: space-around;
}

.menu_text_button a{
	color: #8c8c8c;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 14px;
	padding: 10px;
	text-align: center;
}

.menu button:hover{
	transform: scale(1.2);
	transition: 1s;
}

.menu button:not(:hover) {
	transition: 0.5s;
}

.menu button:active{
	transform: scale(1);
}

.menu_selected a{
	color: #212121;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	border-bottom: #212121 solid 3px;
	padding: 10px;
}

.menu_text_button a:hover{
	color: #212121;
	font-weight: 700;
	font-size: 14px;
	border-bottom: #212121 solid 3px;
	transition: 0.5s;
	text-align: center;
}

.slider_text{
	width: 470px;
	height: 227px;
	margin: 373px 0 0 98px;
}

.slider_text_green{
	font-size: 18px;
	font-weight: 700;
	text-align: left;
	color: #43a047;
	letter-spacing: 1.8px;
	text-transform: uppercase;
}

.slider_text_big{
	color: #212121;
	font-size: 58px;
	font-weight: 200;
	text-align: left;
	text-transform: uppercase;
}

.slider_text_small{
	color: #6c6c6c;
	font-size: 13px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: 24px;
	text-align: left;
}

.slider_button{
	font-size: 18px;
	font-family: Montserrat, sans-serif;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	color: #212121;
	font-style: normal;
	letter-spacing: 3.6px;
	line-height: normal;
	width: 212px;
	height: 45px;
	box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
	border-radius: 23px;
	margin-top: 32px;
	background-color: #ffffff;
}

i {
	border: solid black;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 3px;
	margin-bottom: 2px;
}

.right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.slider_button:hover{
	box-shadow: 0 5px 7px 2px rgba(33, 33, 33, 0.35);
	transition:0.5s;
}

.slider_button:not(:hover){
	transition: 0.3s;
}

.slider_button:active{
	background-color: #d2d2d2;
	box-shadow:
		0 0 3px rgba(0,0,0,.5) inset,
		0 1px 1px 1px rgba(255,255,255,.4),
		0 -1px 1px 1px rgba(0,0,0,.1);
}

.slider_button:focus{
	border: 0;
	outline: none;
}

.circle_container{
	height: 40px;
	width: 140px;
	display: flex;
	align-self: center;
	justify-content: space-around;
	margin-top: 741px;
}

.circle_box{
	width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.slider_circle_1, .slider_circle_2, .slider_circle_3{
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background-color: #212121;
	opacity: 0.2;
}

.slider_circle_1:hover, .slider_circle_2:hover, .slider_circle_3:hover{
	opacity: 0.3;
	transition: 0.3s;
}

.slider_circle_1:not(:hover), .slider_circle_2:not(:hover), .slider_circle_2:not(:hover), .slider_circle_3:not(:hover){
	transition: 0.3s;
}

.slider_circle_1:focus, .slider_circle_2:focus, .slider_circle_3:focus{
	border: 0;
	outline: none;
	opacity: 1;
	transform: scale(1.3);
}

.content{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.content_featured_new{
	height: 380px;
	margin: 115px 0;
	display: flex;
	flex-grow: 1;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
}

.top_part_featured_new_content, .featured_new_products{
	width: 1170px;
	display: flex;
	justify-content: space-between;
}

.top_part_featured_new_content{
	height: 62px;
	align-items: center;
}

.featured_new_products{
	height: 270px;
}

.featured_new_buttons{
	display: flex;
}

.new_button, .featured_button{
	color: #6c6c6c;
	font-family: Montserrat, sans-serif;
	font-size: 36px;
	font-weight: 700;
	padding: 0 16px 15px 5px;
	border-bottom: 1px solid #6c6c6c;
	margin-bottom: 4px;
}

.featured_button:hover,.new_button:hover{
	color: #535252;
	border-bottom: 3px solid #535252;
	transition:0.5s;
}

.featured_button:not(:hover), .new_button:not(:hover){
	transition:0.3s;
}

.featured_button:focus, .new_button:focus{
	color: #212121;
	border-bottom: 3px solid #212121;
	transition:0.3s;
}

.top_part_featured_new_content a{
	font-size: 18px;
	font-weight: 700;
	font-style: normal;
	text-transform: uppercase;
	color: #212121;
	letter-spacing: 3.6px;
}

.top_part_featured_new_content a:hover{
	text-shadow: 1px 1px 2px #535252;
	transition:0.5s;
}

.top_part_featured_new_content a:not(:hover){
	transition:0.5s;
}

.fn_lamp, .fn_2_blue_chair, .fn_white_kettle, .fn_red_chair{
	height: 270px;
	width: 270px;
}

.fn_lamp{
	background-image: url("style_images/products/lamp_1.png");
}

.fn_2_blue_chair{
	background-image: url("style_images/products/2_chairs_blue.jpg");
}

.fn_white_kettle{
	background-image: url("style_images/products/white_kettle.jpg");
}

.fn_red_chair{
	background-image: url("style_images/products/red_chair.jpg");
}

.fn_hover_white_box{
	width: 270px;
	height: 270px;
	border: 1px solid #9c9c9c;
	background-color: #ffffff;
	position: absolute;
	opacity: 0.9;
}

.fn_hover_text_button_box{
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 270px;
}

.fn_white_circle_button{
	width: 48px;
	height: 48px;
	box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
	border-radius: 24px;
	background-color: #ffffff;
	display: flex;
	align-items: center;
	padding-left: 17px;
	margin-top: 60px;
	transition:0.5s;
}

.arrow_big {
	transform: rotate(-45deg) scale(1.5);
	-webkit-transform: rotate(-45deg) scale(1.5);
}

.fn_hover_big_text{
	color: #212121;
	font-size: 22px;
	font-weight: 700;
	text-align: center;
	margin-top: 16px;
}

.fn_hover_little_text{
	color: #6c6c6c;
	font-size: 14px;
	font-weight: 300;
	text-align: center;
	width: 212px;
	margin-top:20px;
}

.fn_hover_container{
	opacity: 0;
	transition:0.5s;
}

.fn_hover_container:hover{
	opacity: 1;
	transition:0.5s;
}

.fn_white_circle_button:hover{
	box-shadow: 0 5px 7px 2px rgba(33, 33, 33, 0.35);
	transition:0.5s;
}

.fishned_chair_slider{
	display: flex;
	justify-content: space-between;
}

.left_fishned_chair, .right_fishned_chair{
	height: 683px;
	width: 683px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.left_fishned_chair{
	background-image: url("style_images/fishned_chair_slider/left_fc_slider.jpg");
}

.right_fishned_chair{
	background-image: url("style_images/fishned_chair_slider/right_fc_slider.jpg");
}

.fc_text_box{
	height: 210px;
	width: 380px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 50px;
}

.fc_blue_text{
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	color: #1e88e5;
	letter-spacing: 1.8px;
}

.fc_big_black_text{
	color: #212121;
	font-size: 36px;
	font-weight: 700;
}

.fc_long_gray_text{
	color: #6c6c6c;
	font-size: 14px;
	font-weight: 300;
}

.fc_text_box .slider_button{
	margin-top: 10px;
}

.trending_products{
	width: 1201px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 105px 0;
}

.tp_header{
	color: #212121;
	font-size: 36px;
	font-weight: 700;
}

.tp_box{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.tp_chandelier, .tp_white_chair, .tp_table_black_lamp, .tp_wall_lamp, .tp_strange_black_thing, .tp_strange_white_thing{
	height: 370px;
	width: 370px;
	transition: 0.5s;
	margin: 15px 15px;
}

.tp_chandelier a{
	height: 370px;
	width: 370px;
	display: block;
}

.tp_chandelier{
	background-image: url("style_images/products/trending_products/chandelier.jpg");
}

.tp_white_chair{
	background-image: url("style_images/products/trending_products/white_chair.jpg");
}

.tp_table_black_lamp{
	background-image: url("style_images/products/trending_products/black_table_lamp.jpg");
}

.tp_wall_lamp{
	background-image: url("style_images/products/trending_products/black_wall_lamp.jpg");
}

.tp_strange_black_thing{
	background-image: url("style_images/products/trending_products/strange_black_thing.jpg");
}

.tp_strange_white_thing{
	background-image: url("style_images/products/trending_products/strange_white_thing.jpg");
}

.tp_chandelier:hover, .tp_white_chair:hover,
.tp_table_black_lamp:hover, .tp_wall_lamp:hover,
.tp_strange_black_thing:hover, .tp_strange_white_thing:hover,
.ep_strange_wall_lamp:hover, .ep_gray_sofa:hover,
.ep_gray_wall_clock:hover, .ep_black_chandelier:hover{
	opacity: 0.7;
	transition: 0.5s;
}

.table_slider{
	width: 1366px;
	height: 800px;
	display: flex;
	background-image: url("style_images/slider_table.jpg");
}

.table_slider .slider_text_green{
	color: #e53935;
}

.table_slider .slider_text{
	margin-top: 0;
	align-self: center;
}

.exclusive_products{
	width: 1170px;
	margin: 120px 0;
	display: flex;
	justify-content: space-between;
}

.ep_left_block{
	height: 570px;
	width: 570px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-image: url("style_images/products/exclusive_products/red_pillow.jpg");
}

.ep_right_block{
	width: 570px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.ep_right_separate_block{
	display: flex;
	justify-content: space-between;
}

.ep_strange_wall_lamp, .ep_gray_sofa, .ep_gray_wall_clock, .ep_black_chandelier{
	width: 270px;
	height: 270px;
	transition: 0.5s;
}

.ep_strange_wall_lamp{
	background-image: url("style_images/products/exclusive_products/strange_wall_lamp.jpg");
}

.ep_gray_sofa{
	background-image: url("style_images/products/exclusive_products/gray_sofa.jpg");
}

.ep_gray_wall_clock{
	background-image: url("style_images/products/exclusive_products/gray_wall_clock.jpg");
}

.ep_black_chandelier{
	background-image: url("style_images/products/exclusive_products/black_chandelier.jpg");
}

.mobile_app{
	background-image: url("style_images/mobile_app/background_mobile.jpg");
	width: 1366px;
	height: 516px;
	display: flex;
	align-items: center;
}

.ma_text_button_box{
	height: 280px;
	width: 475px;
	margin-left: 98px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.ma_little_text{
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	color: #6c6c6c;
}

.ma_big_text{
	color: #212121;
	font-size: 62px;
	font-weight: 100;
	text-transform: uppercase;
}

.ma_second_little_text{
	color: #6c6c6c;
	font-size: 22px;
	font-weight: 300;
}

.ma_button_box{
	width: 280px;
	display: flex;
	margin-top: 15px;
	justify-content: space-between;
}

.ma_appstore, .ma_googleplay, .ma_appstore a, .ma_googleplay a{
	width: 135px;
	height: 40px;
}

.ma_appstore a, .ma_googleplay a{
	display: block;
}

.ma_appstore{
	background-image: url("style_images/mobile_app/button_appstore_app.png");
}

.ma_googleplay{
	background-image: url("style_images/mobile_app/button_googleplay_app.png");
}

.clr{
	height: 384px;
}

.footer{
	width: 1366px;
	height: 384px;
	background-color: #f7f7f7;
	margin: 0 auto;
	display: flex;
	margin-top: -384px;
}

.footer_width{
	flex-grow: 1;
	margin: 0 98px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.footer_text_big, .footer_text_small{
	display: flex;
	justify-content: space-between;
}

.footer_text_big{
	height: 147px;
	margin: 120px 0 29px;
}

.footer_text_small{
	height: 28px;
	margin: 30px 0;
}

.footer_text_block{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.footer_text_block:nth-child(1){
	width: 221px;
}

.footer_text_block:nth-child(2){
	width: 415px;
}

.footer_text_block:nth-child(3){
	width: 370px;
}

.f_txt_heading{
	color: #6c6c6c;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	padding-bottom: 20px;
}

.f_txt_block{
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	justify-content: space-between;
}

.f_txt_link_block{
	display: flex;
	flex-direction: column;
}

.f_txt_info{
	color: #212121;
	font-size: 14px;
	font-weight: 300;
	text-align: left;
}

form{
	display: inline-block;
	vertical-align: top;
	position: relative;
}

.f_txt_links{
	display: flex;
	flex-grow: 1;
	justify-content: space-between;
}

.footer_link{
	color: #212121;
	font-size: 14px;
	font-weight: 700;
	font-style: normal;
	text-align: left;
	text-transform: uppercase;
}

.f_txt_block input{
	width: 370px;
	height: 48px;
	padding: 17px 19px;
	border: 1px solid #d9dee1;
	background-color: #ffffff;
}

.email_button{
	width: 21px;
	height: 17px;
	background: url("style_images/send.png") no-repeat;
	position: absolute;
	bottom: 15px;
	left: 335px;
	cursor: pointer;
}

.email_button:hover{
	opacity: 0.8;
}

.f_copyright{
	color: #6c6c6c;
	font-size: 12px;
	font-weight: 700;
	text-align: left;
	text-transform: uppercase;
}

.f_social_links{
	display: flex;
}

.social a {
	text-align: center;
	width: 32px;
	height: 32px;
	float: left;
	background: #6c6c6c;
	border: 1px solid #ccc;
	box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
	border-radius: 24px;
	margin: 0 10px 10px 0;
	padding: 6px;
	color: #f7f7f7;
}

.fa-2x{
	font-size: 1em;
}

.facebook a:hover {
	background: #3b5998; color: #fff;
}

.twitter a:hover {
	background: #00acee; color: #fff;
}

.google-pluse a:hover {
	background: #DD4B39; color: #fff;
}

.pinterest a:hover {
	background: #c8232c; color: #fff;
}